* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #f8fafc;
  padding-bottom: 80px;
}

/* TOP BAR */
.top-bar {
  display: flex;
  /* justify-content: space-around; */
  padding: 14px 16px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
a{
    text-decoration: none;
}
.logo {
  font-weight: 700;
  font-size: 18px;
}

.login {
  font-size: 14px;
  color: #2563eb;
  margin-right: auto;
}
.nav1{
    font-size: 14px;
    color:#2563eb;
    margin-left: 30% ;
    margin-right: auto;
}
.nav2{
    font-size: 14px;
    color: #2563eb;
    margin-right: auto;
}
/* HERO */
.hero {
  padding: 24px 16px;
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
}

.hero h1 {
  font-size: 24px;
  margin-bottom: 6px;
}

.hero p {
  font-size: 14px;
  opacity: 0.9;
}

/* SERVICES */
.services {
  padding: 20px 16px;
}

.services h2 {
  margin-bottom: 14px;
  font-size: 18px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.service-card {
  background: white;
  border-radius: 12px;
  padding: 16px 10px;
  text-align: center;
  font-size: 26px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
}

.service-card span {
  display: block;
  font-size: 12px;
  margin-top: 6px;
  color: #334155;
}

/* BANNER */
.banner {
  margin: 16px;
  padding: 16px;
  background: #e0f2fe;
  border-radius: 12px;
}

.banner h3 {
  font-size: 16px;
}

.banner p {
  font-size: 13px;
  color: #475569;
}

/* AI ASSISTANT */
.ai-btn {
  position: fixed;
  bottom: 90px;
  right: 16px;
  background: #2563eb;
  color: white;
  padding: 12px 16px;
  border-radius: 50px;
  font-size: 14px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* BOTTOM CTA */
.bottom-cta {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 12px;
  box-shadow: 0 -3px 8px rgba(0,0,0,0.15);
}

.bottom-cta button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
}
